<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.colorosfeiniu.bridge">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="ColorOS Feiniu Bridge"
        android:supportsRtl="true">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="修复当 cryptoeng 拒绝 cmd 26 时，ColorOS 相册无法加载飞牛 NAS Token 前缀的问题。" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <meta-data
            android:name="xposedscope"
            android:value="com.coloros.gallery3d" />

    </application>
</manifest>
